@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;
@model List<AnimalShelter.Models.Animal> 

<h1>Animal Types</h1>

<ul>
@foreach (Animal animal in Model)
{
  <li>@Html.ActionLink($"{animal.Type}", "Details", new { id = animal.AnimalId }) </li>
  <ul>
    <li>Name: @animal.Name</li>
    <li>@animal.Gender</li>
    <li>Admitted: @animal.Date</li>
    <li>@animal.Breed</li>
  </ul>
}
</ul>

<p>@Html.ActionLink("Add new animal", "Create")</p>